<h1>商品一覧</h1>

<ul>
  <li>
    <% @products.each do |product| %>
      商品名：<%= product.name %><br>
      料金：<%= product.price %>
      <%= link_to '購入',  '/add_item', product: {id: product.id}, method: :post, class: 'btn'%><br>
    <% end %>
  </li>
</ul>